<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ejercicio1.Properties.Settings.Laboratorio7_DBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\pazzi\OneDrive - INTEC\Escritorio\DESARROLLO III\LABORATORIO\TAREAS LAB-IDS345\Laboratorio 7\Ejercicio1\Laboratorio7-DB.mdf;Integrated Security=True;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>