<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioLab6Soap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServicioLab6Soap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44342/ServicioLab6.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServicioLab6Soap"
                contract="WS.ServicioLab6Soap" name="ServicioLab6Soap" />
        </client>
    </system.serviceModel>
</configuration>